.page{
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.sidebar{
    width: 10vw;
    height: 100vh;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;

    nav{
        display: flex;
        width: 80%;
        flex-flow: nowrap column;
        align-items: center;
        margin: 1rem;

        a{
            margin-top: 1rem;
        }
    }
}

main{
    width: 90vw;
}